body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #85afc0;
}

.calculator {
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#display {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #333;
    color: #55dde2;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #202222;
    border: none;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #97d3f5;
}

.btn:active {
    background-color: #ddd;
}
